<template name="defaultHeader">
	<!-- Start of Default Header -->
	<header class="navbar">
		<div class="container">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
			</button>
			<a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>
			<a class="navbar-brand col-md-2 col-sm-1 col-xs-2" href="{{pathFor 'home'}}"><span>SiteName</span></a>
			<!-- start: Header Menu -->
			<div class="nav-no-collapse header-nav">
				<ul class="nav navbar-nav navbar-right">
					{{#if currentUser}}
	  					<li><a href="#">Dashboard</a></li>
					{{else}}
						<li><a href="{{pathFor 'login'}}">Login or Register</a></li>
					{{/if}}
				</ul>
			</div>
			{{> accountInfo}}
			<!-- end: Header Menu -->
		</div>
	</header>
	<!-- end: Header -->
</template>


<template name="accountInfo">
	{{#if currentUser}}
		{{> accountLoggedIn}}
	{{else}}
		{{> accountLoggedOut}}
	{{/if}}
</template>

<template name="accountLoggedIn">
	<!-- start: User Dropdown -->
	<li class="dropdown">
		<a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
		<div class="avatar"><img src="/imgs/avatars/example.png" alt="Avatar"></div>
		<div class="user">
			<span class="hello">Welcome!</span>
			<span class="name">{{currentUser.profile.name}}</span>
		</div>
		</a>
		<ul class="dropdown-menu">
			<li><a id="logout" href="#"><i class="fa fa-off"></i> Logout</a></li>
		</ul>
	</li>
	<!-- end: User Dropdown -->
</template>

<template name="accountLoggedOut">
	<li class="dropdown">
		<a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
			<div class="user">
				<span class="hello">Login or </span>
				<span class="name">Register</span>
			</div>
		</a>
		<ul class="dropdown-menu">
			<li><a href="{{pathFor 'selectRegistration'}}"><i class="fa fa-user"></i> Register</a></li>
			<li><a href="{{pathFor 'login'}}"><i class="fa fa-user"></i> login</a></li>
		</ul>
	</li>
</template>
