<template name="form_registration">
    <div class="register-form">
        <form class="form-horizontal" action="#" method="post">
            <fieldset>
                <!-- {{> formElement_organisationId}} -->
                {{> formElement_firstName}}
                {{> formElement_familyName}}
                {{> formElement_email}}
                {{> formElement_password}}
                {{> formElement_confirmPassword}}

                <div class="row">
                    <button id="register" type="submit" class="btn btn-primary btn-lg col-xs-12">Create Account!</button>
                </div>

            </fieldset> 
        </form>
    </div>
</template>